{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="new-cat">
    <div class="container">
        <h1 class="text-center">Add New Item</h1>
        <form method="POST" action="{{url_for('create_item', cat_id=cat_id)}}">
            <!-- Start item name -->
            <div class="cat-name form-group">
                <label class="col col-md-3"> Name</label>

               <input type="text"
                      class="col col-md-6 form-control"
                      required
                      name="item_name"
                      placeholder="Item Name">
            </div>
             <!-- end item name -->
             <!-- Start item description -->
            <div class="cat-description form-group">
                <label class="col col-md-3">Description</label>
                <textarea name="item_desc"  class="form-control col col-md-6 "></textarea>
            </div>
             <!-- end item description -->
              <!-- Start item price -->
            <div class="cat-name form-group">
                <label class="col col-md-3">Price</label>
               <input type="text"
                      class="col col-md-6 form-control"
                      required
                      name="item_price"
                      placeholder="Item price">
            </div>
             <!-- end item price -->
            <div class="button">
            <input type="submit" class="btn btn-primary add-cat-btn" value="Add item">
            <button class="btn btn-danger cancel-cat-btn"><a href="{{url_for('index')}}">Cancel</a></button>
            </div>
        </form>

    </div>
</div>


{% include 'footer.html' %}